/* page1.html */
body.page1 {
  margin: 100;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background-image: url('frontal.png');
  background-size: cover ;
  background-repeat: no-repeat; 
  background-color: black; */
}

/* page2.html */
body.page2 {
  /* background-color: black;
  background-image: url('parietal.png');
  background-size: cover ;
  background-repeat: no-repeat;  */
}
.pic {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

/* page3.html */
body.page3 {
  /* background-color: black;
  background-image: url('temporal.png');
  background-size: cover ;
  background-repeat: no-repeat;  */
}

/* page4.html */
body.page4 {
  /* background-color: black;
  background-image: url('occipital.png');
  background-size:cover ;
  background-repeat: no-repeat;  */
}